{
    "API_URL": "<BACKEND_API_URL>",
    "STACK_AUTH_PROJECT_ID": "<YOUR_STACK_AUTH_PROJECT_ID>",
    "STACK_AUTH_PCK": "<YOUR_STACK_AUTH_PUBLISHABLE_CLIENT_KEY>",
    "IS_CUSTOMER_APP": "true",
    "ERP_BASE_URL": "http://localhost:5000",
    "STOREFRONT_API_BASE_URL": "http://localhost:5000"
    "STACK_AUTH_PCK": "<YOUR_STACK_AUTH_PUBLISHABLE_CLIENT_KEY>"

    "_comment": "****** variables to bypass login process for dev *******"
    "ACCESS_TOKEN": "dev-token-12345", 
    "REFRESH_TOKEN": "dev-refresh-token-12345",
    "TENANT_ID": "ff830f4e-9d5f-4dd4-a3f5-71c044c50662"
}
