{
    "STACK_AUTH_PROJECT_ID": "<YOUR_STACK_AUTH_PROJECT_ID>",
    "STACK_AUTH_PCK": "<YOUR_STACK_AUTH_PUBLISHABLE_CLIENT_KEY>",
    "IS_CUSTOMER_APP": "true",
    "ERP_BASE_URL": "http://localhost:5000"
}
